services:
  db:
    image: postgres:15-alpine
    container_name: financas_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DB_PASSWORD:-0102}
      POSTGRES_DB: financeiro_juridico
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: financas_backend
    restart: always
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql+psycopg://postgres:${DB_PASSWORD:-0102}@db:5432/financeiro_juridico
      SECRET_KEY: ${SECRET_KEY:-f45e1c49a195269de9152c81c86b4f1421933c45b19892e915bb396a19356d07}
      ACCESS_TOKEN_EXPIRE_MINUTES: 30
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: financas_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"

volumes:
  postgres_data:
